.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
} 


.col-1 {
	width: 8.3333333%;
	float: left;
} /*100/12*/

.col-2 {
	width:16.6666667%;
	float: left;
}/*100/6*/

.col-3 {
	width:25%;
	float: left;
}/*100/4*/

.col-4 {
	width: 33.33333%;
	float: left;
}/*100/3*/



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} /*must be added to bottom of file.*/

/*when calculating the size of an element "using border-box"
 the padding and border are taken into account
*/